<%= form_with(model: templates_matrix_user, local: true) do |form| %>
  <% if templates_matrix_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(templates_matrix_user.errors.count, "error") %> prohibited this templates_matrix_user from being saved:</h2>

      <ul>
      <% templates_matrix_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-fields">
    <fieldset>
      <%= form.text_field :name %>
    </fieldset>
    <fieldset>
      <legend>Attributes</legend>
      <%= form.label :reaction %>
      <%= form.number_field :reaction, in: 1..10, step: 1 %>
      <%= form.label :intuition %>
      <%= form.number_field :intuition, in: 1..10, step: 1 %>
      <%= form.label :logic %>
      <%= form.number_field :logic, in: 1..10, step: 1 %>
      <%= form.label :willpower %>
      <%= form.number_field :willpower, in: 1..10, step: 1 %>
    </fieldset>
    <fieldset>
      <legend>Skills</legend>
      <%= form.label :computer %>
      <%= form.number_field :computer, in: 1..7, step: 1 %>
      <%= form.label :cybercombat %>
      <%= form.number_field :cybercombat, in: 1..7, step: 1 %>
      <%= form.label :data_search %>
      <%= form.number_field :data_search, in: 1..7, step: 1 %>
      <%= form.label :electronic_warfare %>
      <%= form.number_field :electronic_warfare, in: 1..7, step: 1 %>
      <%= form.label :hacking %>
      <%= form.number_field :hacking, in: 1..7, step: 1 %>
    </fieldset>
    <fieldset>
      <legend>Matrix Programs</legend>
      <ul>
        <%= form.fields_for :programs do |matrix_program_form| %>
          <li>
            <%= matrix_program_form.label :program_name %>
            <%= matrix_program_form.select(:program_name, MatrixProgram.constants.sort.map { |prog| [prog, prog]}) %>
            <%= matrix_program_form.label :rating %>
            <%= matrix_program_form.number_field :rating, in: 1..6, step: 1 %>
          </li>
        <% end %>
      </ul>
    </fieldset>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
